{
  "presets": [
    "env",
    "react",
    "flow"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-runtime",
    "styled-components"
  ]
}
